		h1 {
		    text-align: center;
		    color: black;
		    font-size: 50px;
		}
		
		body {
		    background-color: rgb(70, 68, 68);
		}
		
		.container {
		    border-radius: 25px;
		    background-color: #87CEFA;
		    height: 500px;
		    width: 500px;
		    border: 5px solid pink;
		    padding: 10px;
		    margin: auto;
		}
		
		input[type=text],
		input[type=password] {
		    background-color: white;
		    color: black;
		    border-radius: 50px;
		    width: 100%;
		    padding: 12px 20px;
		    margin: 8px 0;
		    display: inline-block;
		    border: 1px solid #ccc;
		    box-sizing: border-box;
		}
		
		button {
		    border-radius: 25px;
		    background-color: darkblue;
		    color: white;
		    padding: 14px 20px;
		    margin: 8px 0;
		    border: none;
		    cursor: pointer;
		    width: 100%;
		}
		
		button:hover {
		    opacity: 10;
		}